* {
  margin: 0px;
  font-family: sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
}

header {
  position: absolute;
  margin: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  header {
    margin: 0px;
  }
  header ul {
    z-index: -1;
    background-color: white;
    color: black !important;
    position: absolute;
    top: 0px;
    width: 88vw;
    height: 100px;
    align-items: center;
  }
  header ul .close {
    display: block;
    cursor: pointer;
  }
  header .hambur {
    display: block !important;
    cursor: pointer;
    top: 5px;
  }
  header .logo {
    top: 30px;
    left: 40vw;
  }
}
header .close {
  display: none;
  scale: 1.5;
}
header .hambur {
  display: none;
  width: 50px;
  padding: 20px;
  position: absolute;
}
header .logo {
  position: relative;
  width: 100px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: bold;
  color: white;
}
header ul li {
  border-bottom: solid transparent;
  transition: all 0.5s;
  cursor: pointer;
}
header ul li:hover {
  border-bottom: solid;
}

main:nth-of-type(1) {
  display: flex;
  background-color: white;
  position: relative;
  z-index: -1;
}
@media (max-width: 800px) {
  main:nth-of-type(1) {
    flex-direction: column !important;
  }
  main:nth-of-type(1) .imgMain {
    width: 100% !important;
  }
  main:nth-of-type(1) .carr {
    width: 100% !important;
    border: solid;
  }
  main:nth-of-type(1) .carr div {
    width: 100% !important;
  }
  main:nth-of-type(1) .setas {
    right: 20% !important;
    bottom: 520px !important;
    scale: 1.5;
  }
}
main:nth-of-type(1) .imgMain {
  width: 60vw;
  height: 500px;
}
main:nth-of-type(1) .carr {
  position: relative;
  width: 40vw;
  height: 500px;
  overflow: hidden;
}
main:nth-of-type(1) .carr div {
  width: 40vw;
  height: 500px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
main:nth-of-type(1) .carr div h1 {
  font-size: 40px;
  width: 70%;
  text-align: left;
}
main:nth-of-type(1) .carr div p {
  opacity: 0.5;
  width: 70%;
}
main:nth-of-type(1) .carr div button {
  background-color: transparent;
  border: none;
  letter-spacing: 10px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-left: 30%;
}
main:nth-of-type(1) .carr div button:hover {
  opacity: 0.5;
}
main:nth-of-type(1) .setas {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  position: absolute;
  bottom: 0px;
  right: 36%;
  height: 50px;
  width: 50px;
}
main:nth-of-type(1) .setas img {
  background-color: black;
  padding: 15px 20px;
  transition: all 0.5s;
  cursor: pointer;
}
main:nth-of-type(1) .setas img:hover {
  background-color: rgba(0, 0, 0, 0.671);
}

main:nth-of-type(2) {
  display: flex;
  align-items: flex-start;
  background-color: white;
}
@media (max-width: 1000px) {
  main:nth-of-type(2) {
    flex-direction: column !important;
  }
  main:nth-of-type(2) img {
    width: 100% !important;
  }
  main:nth-of-type(2) div {
    width: 100% !important;
    height: 300px;
    justify-content: center;
  }
}
main:nth-of-type(2) img {
  height: 300px;
  width: 33vw;
}
main:nth-of-type(2) div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33vw;
}
main:nth-of-type(2) div p {
  opacity: 0.5;
  width: 90%;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */