* {
  margin: 0px;
  font-family: sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
}

header {
  position: absolute;
  margin: 30px;
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    margin: 0px;

    ul{
      .close{
        display: block;
        cursor: pointer;
      }

      z-index: -1;
      background-color: white;
      color: black !important;
      position: absolute;
      top: 0px;
      width: 88vw;
      height: 100px;
      align-items: center;
    }

    .hambur{
      display: block !important;
      cursor: pointer;
      top: 5px;
    }

    .logo{
      top: 30px;
      left: 40vw;
    }
  }

  .close{
    display: none;
    scale: 1.5;
  }

  .hambur{
    display: none;
    width: 50px;
    padding: 20px;
    position: absolute;
  }
  .logo {
    position: relative;
    width: 100px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
    color: white;

    li {
      border-bottom: solid transparent;
      transition: all 0.5s;
      cursor: pointer;
    }

    li:hover {
      border-bottom: solid;
    }
  }
}

main:nth-of-type(1) {
  display: flex;
  background-color: white;
  position: relative;
  z-index: -1;

  @media (max-width: 800px) {
    flex-direction: column !important;

    .imgMain {
      width: 100% !important;
    }

    .carr {
      width: 100% !important;
      border: solid;

      div {
        width: 100% !important;
      }
    }

    .setas {
      right: 20% !important;
      bottom: 520px !important;
      scale: 1.5;
    }
  }

  .imgMain {
    width: 60vw;
    height: 500px;
  }

  .carr {
    position: relative;
    width: 40vw;
    height: 500px;
    overflow: hidden;

    div {
      width: 40vw;
      height: 500px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      h1 {
        font-size: 40px;
        width: 70%;
        text-align: left;
      }

      p {
        opacity: 0.5;
        width: 70%;
      }

      button {
        background-color: transparent;
        border: none;
        letter-spacing: 10px;
        font-weight: bold;
        transition: all 0.5s;
        cursor: pointer;
        width: 100%;
        text-align: left;
        margin-left: 30%;
      }

      button:hover {
        opacity: 0.5;
      }
    }

  }

  .setas {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0px;
    position: absolute;
    bottom: 0px;
    right: 36%;
    height: 50px;
    width: 50px;

    img {
      background-color: black;
      padding: 15px 20px;
      transition: all 0.5s;
      cursor: pointer;
    }

    img:hover {
      background-color: rgba(0, 0, 0, 0.671);
    }
  }
}

main:nth-of-type(2) {
  display: flex;
  align-items: flex-start;
  background-color: white;

  @media (max-width: 1000px) {
    flex-direction: column !important;

    img{
      width: 100%!important;
    }

    div{
      width: 100% !important;
      height: 300px;
      justify-content: center;
    }
  }

  img {
    height: 300px;
    width: 33vw;
  }

  div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33vw;

    p {
      opacity: 0.5;
      width: 90%;
      font-weight: bold;
    }
  }
}